@model OnlineDiscussionPortal.Entity.Post


<div>
    <h4>
        <label for="Id">@Model.Id :</label>
        <label for="Title">@Model.Title</label>
    </h4>
</div>
<div>
    <p>@Model.Content</p>
</div>
<div>
    @Model.CreatedOn
</div>
<hr class="bar" />

