@model OnlineDiscussionPortal.Entity.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<hr />
<style>
    input[type=text] , textarea {
        width: 100%;
        padding: 5px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }
   textarea {
       height:100px;
       max-width:500px;
   }
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
</style>

<div>
    <label for="Id">Id</label> <br /> 
    @Html.TextBoxFor(model => model.Id)<br />

    <label for="Title">Title</label><br />
    @Html.TextBoxFor(model => model.Title)<br /> 

    <label for="Content">Content</label><br />
    @Html.TextAreaFor(model => model.Content)<br />
    
    <button>Submit</button> <button>Back</button>

</div>

