@model OnlineDiscussionPortal.Entity.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<hr />

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{

    <div>
        <label for="Id">Id</label> <br />
        @Html.TextBoxFor(model => model.Id)<br />

        <label for="Title">Title</label><br />
        @Html.TextBoxFor(model => model.Title)<br />

        <label for="Content">Content</label><br />
        @Html.TextAreaFor(model => model.Content)<br />

        <button type="submit">Submit</button> <button type="reset">Back</button>

    </div>

}

