

@{
    ViewBag.Title = "Display";
}


<h2>Posts</h2>
<hr />

<div class="content">
    @foreach (OnlineDiscussionPortal.Entity.Post post in Model) 
    {
        
        @Html.Partial("_PostDetails",post);
    
    }

</div>