@*@model IEnumerable<OnlineDiscussionPortal.Entity.Account>*@

@{
    ViewBag.Title = "Display";
}
<style>
    
hr {
    background-color: lawngreen;
    width: 2%;
}

.left {
    float: left;
}

.right {
    float: right;
}
</style>
<h2>Display</h2>


<div class="content">
    @foreach (OnlineDiscussionPortal.Entity.Account account in Model)
    {
        @Html.Partial("_UserDetail", account);

    }
</div>