@model OnlineDiscussionPortal.Entity.Account

@{
    ViewBag.Title = "SignIn";
  
}

<h2>SignIn</h2>
<hr />

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
{
<div>
    <label for="UserName"><b>User Name</b></label> <br />
    @Html.TextBoxFor(Model => Model.UserName, new { maxlength = 25 }) <span>@Html.ValidationMessageFor(Model => Model.UserName)</span><br />


    <label for="Password"><b>Password</b></label><br />
    @Html.PasswordFor(Model => Model.Password, new { maxlength = 25 })<span>@Html.ValidationMessageFor(Model => Model.Password)</span><br />

    <button type="submit">Sign In</button> <button type="reset">Back</button>
</div>
    
}